
.page-container {
    position: relative;
    min-height: 100vh;
  }

.footer {
    height: 65px;
    width: 100%;
    background-color: rgb(54, 54, 54);
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    font-family: cursive;
    color: rgb(128, 128, 128);
    right: 0;
    left: 0;
    position: absolute;
    bottom: 0;
}

.header {
    background-color: whitesmoke;
    height: 65px;
    margin-top: 0%;
   
}
  #homelogo a {
    all: initial;
    cursor: pointer;
}
  .header-img {
    height: 100%;
    margin-left: 5%;
    margin-top: 0%;
    width: 12%;
    float: left;
}

#content-wrap {
    padding-top: 65px; /* header height */
    padding-bottom: 65px; /* Footer height */
}
    
.main-content{
    width: 40%;
    height: 70%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #6d567c;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}


.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
    border-top-left-radius:0px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
.form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #6d567c;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#6d567c;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #6d567c;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #6d567c;
	color:#fff;
}

.btn:disabled{
    color:#6d567c;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #6d567c;
}
  