
.page-container {
    position: relative;
    min-height: 100vh;
    background-color: whitesmoke;
  }

.footer {
    height: 65px;
    width: 100%;
    background-color: rgb(54, 54, 54);
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    font-family: cursive;
    color: rgb(128, 128, 128);
    right: 0;
    left: 0;
    position: absolute;
    bottom: 0;
}

.header {
    background-color: #6d567c;
    height: 65px;
    margin-top: 0%;
    font-family: cursive;
    justify-content: space-between;
   
}

#content-wrap {
    padding-top: 85px; 
    padding-bottom: 120px; /* Footer height  */
    padding-left: 20px;
    padding-right: 20px;
    
}


.main-content{
    width: 40%;
    height: 70%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #cba4c1;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}


.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
    border-top-left-radius:0px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
.form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #cba4c1;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.login_btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#cba4c1;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #cba4c1;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.login_btn:hover, .login_btn:focus{
	background-color: #cba4c1;
	color:#fff;
}

.login_btn:disabled{
    color:#cba4c1;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #cba4c1;
}
  

.card_item {
    margin-bottom: 10px;
}

.fixed-right-bottom {
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: 1030;
    margin: 0 1.5rem 1.5rem 0;
    border-radius: 50%;
    background-color: rgb(74, 137, 167);
  }